gradio
langgraph
langchain
langchain-openai

openai

qdrant-client

psycopg2-binary

sqlalchemy

python-dotenv

passlib

python-jose

pydantic

pandas

unstructured

pypdf

pillow

langsmith

rank-bm25

sentence-transformers

fastembed

passlib[bcrypt]
bcrypt==4.0.1
python-jose

paddleocr
paddlepaddle
pillow
pydantic